<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head" ></head>

<body style ="background-color: #F0F8FF;">

<nav th:replace="snippets.html :: name_navbar"></nav>

<div class="container">

<h3 class = "text-center">Order</h3>

 <div class="row">
	 <div class="col-12">
			<form class="form-inline" id="order-item-form">
			  <div class="form-group">
			    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode">
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
			    <div class="col-sm-10">
			      <input type="text"  class="form-control" name="quantity" id="inputQuantity" placeholder="Enter Quantity">
			    </div>
			  </div>

			  <button type="button" class="btn btn-primary" id="add-order-item">Add</button>
			  &nbsp;
			    <button type="button" class="btn btn-warning" id="refresh-data">Reset</button>
			</form>
	 </div>	
</div> 

<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>


<div class="row">
	<div class="col-md-10">
		<button type="button" class="btn btn-success float-right" id="confirm-order">Confirm order</button>
	</div>
	<div class="col-md-2">
		<a th:href="@{/api/order/invoice}" target="_blank" class="btn btn-primary float-right">Generate Invoice</a>
	</div>
</div>

<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>

<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="order-items-table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">S No</th>
	      <th scope="col">Product Name</th>
	      <th scope="col">Quantity</th>
	      <th scope="col">MRP</th>
	      <th scope="col">Total Price</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>

</div>
</div>




<div class="modal" tabindex="-1" role="dialog" id="edit-order-item-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit OrderItem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<form class="form-inline" id="order-item-edit-form">
			  <div class="form-group">
			    <label for="inputProductName" class="col-sm-2 col-form-label">Product Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="productName" readonly="">
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="quantity" placeholder="enter Quantity">
			    </div>
			  </div>

 	        <input type="hidden" name="barcode" >
			</form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" id="update-order-item">Update</button>
      </div>
    </div>
  </div>
</div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/order.js}"></script>

</body>	

</html>