<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head" ></head>

<body style ="background-color: #F0F8FF;">

<nav th:replace="snippets.html :: name_navbar"></nav>

<div class="container" text-align = "center">
	<div class="row">
	
		<div style="padding-right: 30px; padding-left: 300px; padding-top: 200px;">
		<a th:href="@{/ui/reports/brand}" title = "View Brand Report">	
			<button class ="btn btn-dark"> Brand Report </button>
		</a>
		</div>
	
		<div style="padding-right: 30px; padding-left: 30px; padding-top: 200px;">
		<a th:href="@{/ui/reports/inventory}" title = "View Inventory Report">
			<button class ="btn btn-dark"> Inventory Report </button>
		</a>
		</div>
	
		<div style="padding-right: 30px; padding-left: 30px; padding-top: 200px;">
		<a th:href="@{/ui/reports/sales}" title = "View Sales Report">
			<button class ="btn btn-dark"> Sales Report </button>
		</a>
		</div>
		
	
	</div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/order.js}"></script>

</body>	

</html>